$color-red: #EF3E42;
$color-blue: #332982;
$color-gray: #777;

$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Open Sans Condensed', sans-serif;

$font-size-h1: 60px;
$font-family-h1: $font-family-primary;
$font-weight-h1: 300;

$font-size-h2: 20px;
$font-family-h2: $font-family-secondary;
$font-weight-h2: bold;

/**Global background color**/
html {
    background-color: white;
    width: 100%;
}

/**Global font settings**/
h1 {
    font-size: $font-size-h1;
    font-family: $font-family-h1;
    font-weight: $font-weight-h1;
}
h2 {
    font-size: $font-size-h2;
    font-family: $font-family-h2;
    font-weight: $font-weight-h2;
}
p {
    font-size: $font-size-h2;
    font-family: $font-family-h1;
    font-size: .85rem;
}

/**Header Component**/
#head-nav {
    background-color: $color-red;
    .navbar-brand a
    {
        color: white;
        text-decoration: none;
    }
}

#testimonial-header, #volunteer-header {
    background-color: $color-red;
    color: white;
    padding: 2%;
    font-family: $font-family-primary;
    font-weight: bolder;
    font-size: .8rem;
    width: 100%;
}
#volunteer-header {
    background-color: $color-blue;
    padding: 4%;
}

#volunteer-container p {
    color: $color-gray;
}

#volunteer-card-btn {
    border: 2px solid $color-blue;
    background: transparent;
    border-radius: 0px;
    margin-bottom: 8%;
    min-width: 15%;
    color: $color-blue;
    font-size: .8rem;
    font-weight: bolder;
}
#volunteer-card-btn:hover{
    background-color: $color-blue;
    color: white;
}

#list-header .select-tab {
    color: $color-blue;
    border-bottom: 2px solid $color-blue;
    font-size: .9rem;
    font-weight: bolder;
    padding: 2%;
    font-family: $font-family-primary;
}

#list-header .unselect-tab {
    color: $color-gray;
    border: none;
    font-size: .9rem;
    font-weight: bolder;
    padding: 2%;
    font-family: $font-family-primary;
}

.list-widget-btn {
    border: 2px solid $color-red;
    background: transparent;
    border-radius: 0px;
    margin-bottom: 8%;
    min-width: 15%;
    color: $color-red;
    font-size: .8rem;
    font-weight: bolder;
}
.list-widget-btn:hover{
    background-color: $color-red;
    color: white;
}

.list-widget-title {
    color: $color-red;
    font-family: $font-family-primary;
    font-weight: bolder;
    font-size: .8rem;
}

#what h1, #events h1, #who h1, #program-view h1 {
    background-color: $color-blue;
    font-family: $font-family-h1;
    border-bottom: 3px solid $color-red;
}

#footer {
    background-color: $color-blue;
    border-top: 3px solid $color-red;
}

#app {
    .container-fluid, .container-xl, .container-lg, .container-md, .container-sm 
    {
            padding:0;
            margin: 0;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Open+Sans:wght@400;700&display=swap');
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/bootstrap-vue/src/index.scss';